<%- include('includes/head') %>

</head>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

  <body>
    <%- include('includes/nav') %>
    <div class="container">
        <canvas id="myChart" width="800" height="400"></canvas>
  
         <script  src="chart.js"></script>
    

    </div>

    <div class="container">
    
        <img src="chair.jpg" id="rainbow"/>
         <script  src="fetch.js"></script>
    

    </div>



    <%- include('includes/footer') %>
